
.info{
    background-color:#c1a377;
    margin: 0 10vw;
}

.info-main-container{
    background-color: #2e2e2e;
    /* padding: 3px; */
    margin: 15px 0;
    height: 300px;
    overflow: hidden;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    position: relative;
}

.back-images{
    width: 100%;
    height: 460px;
    overflow-y: hidden;
    opacity: 0.3;
    filter: grayscale(0.6);

}

.back-images:hover{
    filter: grayscale(0);
}

.info-container{
    position: absolute;
    top: 0;
    display: flex;
    width: auto;
    justify-content: space-between;
    color: white;
    gap: 3vw;
}

.info-text-part{
    padding-right: 3vw;
    opacity: 0.8;
}

.release_info_data{
    margin-top: 20px;
}

