.main{
    margin: 30px 30px  0;
    padding: 5px 10px;
}

.category_name{
    background-color:#2e2e2e ;
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 20px;
    padding: 10px 10px;
    margin: 0 370px;
    border-radius: 20px ;
}

.category_list{
    font-size: 13px;
    color: #ffffff;
    transition: all 200ms ease;
    cursor: pointer;
}

.category_list:hover{
    color:crimson;
}

/* previous and next component  */


.loadmore_container{

    margin-top: 2vw;
    display: flex;
    justify-content: space-between;
    margin: 2vw 6vw 0 6vw ;
}

/* .loadmore:hover{
    box-shadow: 1px 1px 0px #ffffff;
} */

/* card design here -------------------- */

.movie_card_component{
    /* background-color: #2e2e2e; */
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    gap: 2vw;
    margin: 2vw 6vw ;

}

.card{
    background-color:#1E1E1E;
    width: 220px;
    color: white;
    border-radius: 3px;

    padding: 1px;
    /* height: 56vh; */
}

.card_image_section{
    object-fit: cover;
    width: 220px;
    /* height: 400px; */
}


.card_text{
    background-color: #1E1E1E;
    /* padding: 7px; */
    padding-left: 10px;
    border-radius: 3px;
    margin-top: -5px;
    padding-top: 15px;
}

.card_movie_title{
    /* font-size: 1.3rem; */
    font-weight: 600;
    text-wrap:nowrap;
}

.card_movie_description{
    font-size: 0.8rem;
    opacity: 0.8;
    overflow-y:hidden;
    text-wrap: wrap;
    width: 13vw;
}

.rating_watch_movie{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin:0 10px; */
    
    /* padding-top: 15px; */
}

.card_movie_rating{
    color: crimson;
    font-size: 0.7rem;
    padding-right: 20px;
    /* padding-left: 100px; */
}

.watch_movie{
    color: darkorange;
    border-radius: 5px;
    font-size: 0.8rem;
}