.header{
    margin: 0;
    margin-top: 30px;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    height: 350px;
    overflow: hidden;
    position: relative;
    /* display: flex; */

    /* flex-wrap: wrap; */
    width: 100%;
    /* justify-content: space-between; */
}

.poster-carousel{
    display: flex;
    justify-content: space-between;
    /* gap: 100px; */
    overflow-x:auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    /* padding: 10px; */
    /* margin: -20px -10px; */
}
/* 
.poster-item{
    margin-right: 10px;
    scroll-snap-align: start;
    width: 300px;
} */

.background_img{
    width: 1278px;
    height: 870px;
    opacity: 0.4;
    filter: brightness(2);
    filter: saturate(2);
    /* z-index: -100; */
}

.image_and_text{
    /* margin: 0.3vw; */
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    gap: 3vw;
    overflow: hidden;
    /* gap: 10px; */
    /* z-index: 100px; */
    /* color: black; */
    position: absolute;
    top: 0;
    
}

/* .frontend_img{
    width: 50vw;
    overflow: hidden;
    border-radius: 10px;
    object-fit: cover;
    margin-left: 20px;
}  */

.front_img{
    padding-top: 10px;
    width: 200px;
    height: 330px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    object-fit: fill;
}

/* text and button component start heres */

.text_and_button_component{
    /* line-height: 25px; */
    /* padding-left: 20px; */
    color:white;
margin-right: 6vw;    
}

.rating{
    font-size: 12px;
    color: crimson;
    /* margin-top: 10px; */
}

.release_date{
    font-size: 15px;
    /* margin-top: 20px; */
    /* color: orange; */
}

.movie_description{
    font-size: 13px;
    opacity: 0.5;
    margin-top:30px;
    width: 10vw;
}
.watch_now{
    padding: 5px 10px;
    background-color: crimson;
    border-radius: 5px;
    border-style: none;
    color: white;
    font-size: 12px;
    margin: 10px 10px 0 0;
    transition:  all 200ms ease;
}

.watch_now:hover{
    background-color:white;
    color: black;
    margin-top: 50px;
    padding: 6px 11px;
}

.add_to_list{
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    border-style: none;
    margin-top: 30px;
    background-color:crimson;
    color: white;
}

/* .swipe{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.swipe_left{
    padding: 3px 5px;
    background-color:;

}

.swipe_left:hover{
    size: 20px;
}

.swipe_right{
        padding: 3px 5px;
} */


