.footer{
    background-color: #1E1E1E;
    color: white;
    width: auto;
    height: auto;
    margin: 6vh 0 0 0 ;
    padding: 10px 10px 5vh ;
    display: flex;
    justify-content: space-around;
}

.footer_heading{
    color: crimson;
    margin-bottom: 40px;
}

.footer_paragraph{
    opacity: 0.6;
    margin-bottom: 10px;
}

.footer_social{
    display: flex;
    gap: 20px;
}

/* newletter parts start here  */

/* .newsletter_para{
    font-size: 17px;
    opacity: 0.8;
}

.email_option{
    padding: 5px 10px;
    width: 22vw;
    border-radius: 5px;
}

.email_option:focus{
    outline: none;
}

.Subscribe_to_newsletter{
    background-color: crimson;
    color: white;
    padding: 8px 10px;
    margin: 1vw 7vw;
    border-radius: 8px;
    font-size: 13px;
}

.Subscribe_to_newsletter:hover{
    background-color: #1E1E1E;
    border-color: white;
}

 */

 .newletter-button{
    padding: 50px 30px;
    margin: 5px;
    font-size: 1.2rem;
    font-family:'Times New Roman', Times, serif;
    box-shadow: 1px 1px  crimson;
    background-color:#1E1E1E;
    color: #fff;
    text-wrap: wrap;
 }

 .newletter-button:hover{
    background-color:#fff;
    box-shadow: 2px 2px crimson;
    color: #000;

 }